// .header {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
// justify-content: space-between;
//   padding: 20 40px;
//   border-radius: 20px 20px 0 0 ;
//   background-color: #f5f8ff;
//   height: 50px;
//   // // justify-content: center;
//   // align-items: center;
//   // background-color: rgb(177, 177, 236);
// }


.container {
display: flex;
justify-content: space-between;
align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    // background-color: #ffc107;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }
}

.item {
  display: flex;
  align-items: center;
  // justify-content: center;
  gap: 20px;
  list-style: none;
  // height: 30px;
}

.link {
  display: block;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  display: block;
  //   background-color: rgb(109, 96, 230);
  color: #000000;
  height: 100%;
  text-decoration: none;
  cursor: pointer;

  &.active {
    background-color: red;
    color: #fff;
  }
}

// linear-gradient(to right, var(--primary-color), var(--bg-primary-dark));
//     box-shadow: 0px 3px 9px var(--shadow-color);

.navbar {
  // display: flex;
  // position: relative;
  // flex-wrap: wrap;
  // align-items: center;
  // justify-content: space-between;
  padding: 15px 0;
  background: linear-gradient(to right, #5367ff, #104d75);
  box-shadow: 0px 3px 9px #09081b7a;
}
