@import-normalize; /* bring in normalize.css styles */

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #0c0f21;
  /* background: rgb(207,228,244);
background: linear-gradient (90deg, rgba(207,228,244,1) 0%, rgba(226,221,225,0.7693452380952381) 84%, rgba(195,206,242,0.8841911764705882) 100%); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  // max-width: 100%;
  height: 100%;
  width: auto;
}

/* #root {
  min-width: 320px;
  padding: 30px;
} */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;

  @media screen and (min-width: 1200px) {
    max-width: 1140px;
    // background-color: #ffc107;
  }

  @media screen and (min-width: 1400px) {
    max-width: 1320px;
  }
}
